body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-family:  'Poppins', 'Roboto', sans-serif;
}

.navbar {
    border-bottom: 2px solid #fff;
}

.navbar-brand {
    font-weight: bold;
    padding: 5px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    text-decoration: underline;
}

#content {
    background-color: #ffffff;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

code {
    background-color: #e9ecef;
    padding: 2px 4px;
    border-radius: 4px;
}

.container {
    max-width: 900px;
}

.shadow-sm {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.collapse.navbar-collapse.show ul{
    padding: 5px;
}

.navbar-toggler{
    margin-right: 10px;
}